.aside-section {
  /*+++*/
  /* height: calc(100vh - 30px);
  width: calc(var(--asideWidth) - 30px); */
  width: calc(100vw - 30px);
  height: calc(var(--asideHeight) - 30px);

  background-color: #3a53ff;
  padding: 15px;
}

.aside-container {
  display: grid;
  grid-row-gap: 30px;
  grid-template-rows: 100px auto;
}

.btn{
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 13px;
  text-align: center;
  background-color: #efefef;
  color: black;
}
