input[type=text], select, [type=date] {
  width: 350px;
  padding: 12px 20px;
  margin: 0px 0px 40px 0px;
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-sizing: border-box;
}

/*BUTTON*/
.btn {
  width: auto;
  height: 50px;
  border-radius: 5px;
  /* box-shadow: 16px 16px 50px var(--shadowColor); */

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn:hover {
  background-color: #cccccc;
}

.btn-s {
  min-width: 75px;
}

.btn-m {
  min-width: 175px;
}

.btn-l {
  min-width: 275px;
}

@media (max-width: 1300px) {
  input[type=text], select, [type=date] {
    width: calc(100vw - 200px);
    height: 100px;
    font-size: 1.5vh;
  }
}

@media (max-width: 1000px) {
  .btn {
    height: 100px;
    border-radius: 10px;
    font-size: 1.5vh;
  }
}
