.main-section{
  /* height: 100vh; */
  width: 100%;
  background-color: #ffffff;
}
.main-container {}

.card {
  padding: 50px 200px;
}
.card-container {
  display: flex;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}
.flex-row {

}
.flex-row-container {
  display: flex;
  flex-direction: row;
}
.flex-column {

}

.aboutme-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: flex-start;
}
.aboutme-header {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.aboutme-text {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 15px;
  line-height: 2.6;
  text-decoration: none;
  color: #616161;
}

.card-photo {
  height: 500px;
  background-color: lightgrey;
}
.card-s-photo {
  height: 200px;
  background-color: lightgrey;
}


@media screen and (max-width: 1199px) {
  .card {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 767px) {
  /* .card {
    padding: 50px 100px;
  } */
  .flex-row-container {
    flex-direction: column;
  }
}
