:root {
  --mainBackgroundColor: #ffffff;
  --cardHeaderColor: #000000;
  --cardTextColor: #616161;
  --cardTextHoverColor: #000000;
  --projectShadowColor: #00000029;
  --CVBackgroundColor: #fafafa;
  --GHImage: url("../graphics/GitHub-Mark-120px-plus.png");
  --QRImage: url("../graphics/QRDark.png");
}

.main-section{
  width: 100%;
  background-color: var(--mainBackgroundColor);
}
.main-container {}

.card {
  padding: 50px 200px;
}
.card-container {}

.flex-column-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.flex-row-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.card-header {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--cardHeaderColor);
}
.card-text {
  color: var(--cardTextColor);
  align-items: center;
  font-size: 15px;
  line-height: 2.6;
  text-decoration: none;
}
.card-graphics{
  background-position: center;
  background-size: cover;
  text-decoration: none;
}

.aboutme-photo {
  /* background-color: lightgrey; */
  height: 600px;
  border-radius: 5px;
}

.project {
  /* background-color: #f5f5f5; */
  box-shadow: 12px 12px 96px var(--projectShadowColor);
  border-radius: 5px;
}
.project-logo {
  /* background-color: #070123; */
  background-color: #1a48f3;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.project-container {
  padding: 0px 15px 15px 15px;
}
.project-header {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--cardHeaderColor);
}
.project-link {
  color: var(--cardTextColor);
  align-items: center;
  font-size: 15px;
  line-height: 2.6;
  text-decoration: none;
}
.project-link:hover {
  color: var(--cardTextHoverColor);
}
.project-subheader {
  font-size: 15px;
  font-weight: 500;
  color: var(--cardHeaderColor);
}

.skills-baner {
  /* height: 500px;
  height: 100%; */
  border-radius: 5px;
}

.social-logo {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  text-decoration: none;
}

.cv-button {
  border: none;
  border-radius: 5px;
  height: 150px;
  text-align: center;
  background-color: #1745ee;
  text-decoration: none;
}
.cv-button-container {
  line-height: 150px;
  font-size: 20px;
  color: #ffffff;
}

.contact-qr {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
}
.contact-box {
  border: none;
  border-radius: 5px;
  height: 100px;
  text-align: center;
  background-color: lightgrey;
  text-decoration: none;
  box-shadow: 12px 12px 96px var(--projectShadowColor);
}
.contact-box-container {
  line-height: 100px;
  font-size: 17px;
  color: #000000;
}

#cv {background-color: var(--CVBackgroundColor)}

#ME{background-image: url("../graphics/1618434100115-01-01.jpeg")}
#SB{background-image: url("../graphics/micah-boswell-OPnBJ5L2oxs-unsplash.jpg")}
#FB{background-image: url("../graphics/f_logo_RGB-Hex-Blue_512.png")}
#LI{background-image: url("../graphics/LI-In-Bug.png")}
#GH{background-image: var(--GHImage)}
#GL{background-image: url("../graphics/gitlab-icon-rgb.png")}
#QR{background-image: var(--QRImage)}

@media screen and (max-width: 1199px) {
  .card {
    padding: 50px 100px;
  }
}
@media screen and (max-width: 767px) {
  .card {
    padding: 50px 30px;
  }
  .flex-row-container {
    flex-direction: column;
  }
  .mobile-hidder {
    display: none;
  }
}

.card-photo {
  height: 500px;
  background-color: lightgrey;
  border-radius: 5px;
}
.card-s-photo {
  height: 200px;
  background-color: lightgrey;
  border-radius: 5px;
}
