@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --asideWidth: 100px;
}

body {
  background-color: white;
  margin: 0px;
  display: flex;

  font-family: 'Poppins', sans-serif;
}

.content {
  height: 100vh;
  width: calc(100vw - var(--asideWidth));
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column; */
}
