.buttons_bar_outer {
    height: calc(64px - 16px);
    width: auto;
    padding: 8px;
}

.buttons_bar_inner {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

@media screen and (max-width: 992px) {
    .buttons_bar_inner {
        gap: 8px;
    }
}