:root {
  --panelColor: black;
  --panelBackgroundColor: white;
}

.panel {
  color: var(--panelColor);
  background-color: var(--panelBackgroundColor);
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 15%;
  /* min-width: 320px; */
  padding: 50px 2.5% 0px 7.5%;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 12px 12px 96px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1000px) {
  .panel{
    width: 100%;
    position: absolute;
  }
}
