.title {
  position: fixed;
  top: 50%;
  left: 100px;
  font-size: 150px;
  transform: translateY(-50%);

}

.subtitle {
  font-size: 50px;
  border-color: #4b63ff;
  border-width: medium;
  border: 10px;
}
