@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bodyColor: black;
  --bodyBackgroundColor: white;
}

body{
  display: block;
  margin; 0px;
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  font-family: 'Poppins', sans-serif;
}

button:focus {
  outline-style: none;
}
