.about_section_outer {
    height: auto;
    width: 100%;
}

.about_section_inner {
    height: 100%;
    width: 100%;
}

.about_section_header {
    height: 128px;
    width: 100%;
}

.about_section_body {
    height: auto;
    width: 100%;
}

.about_section_content {
    height: auto;
    width: 100%;
}