#allSchoolPanel {
  visibility: visible;
}

#allSearchPanel {
  visibility: hidden;
}

#appsPanel {
  visibility: hidden;
}

#allCollectionsPanel {
  visibility: hidden;
}

body {
  margin-left: 400px;
  background-image: url("https://i.pinimg.com/originals/de/cf/70/decf70a0c2d8676b4aabfce942a26606.jpg");
}

#container {
  left: 60%;
}

.m-categoryTitle {
  border-right-color: #0d47a1;
}

.m-elementTitle {
  color: #0d47a1;
}
