.platformbar_outer {
    height: auto;
    width: 100%;
    background-color: var(--backgroundColor);
    z-index: 100;
}

.platformbar_inner {
    height: auto;
    width: 100%;
}


.platformbar_root_outer {
    height: calc(64px - 16px);
    width: calc(100% - 16px);
    padding: 8px;
}

.platformbar_root_inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}


.platformbar_header_outer {
    height: 48px;
    width: auto;
}

.platformbar_header_inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.platformbar_body_outer {
    height: 48px;
    width: auto;
}

.platformbar_body_inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}


.platformbar_footer_outer {
    height: 48px;
    width: auto;
}

.platformbar_footer_inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
}