@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --bodyBackgroundColor: black;
  --bodyColor: white;
}

a {
  text-decoration: none;
}

button{
  border-style: none;
}

button:focus {
  outline-style: none;
}

iframe {
  display: block;
  margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  margin-bottom: 100px;
  overflow-x: hidden;
  /* background-image: linear-gradient(to bottom right, #212121, #000000); */
}

header {
  padding: 50px;
  font-size: 40px;
}

main {
  padding-top: 100px;
}

.title {
  font-size: 120px;
}

.beats {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.topics {
  font-size: 30px;
  text-align: center;
}

.arrow {
  background-color: var(--bodyColor);
  color: var(--bodyBackgroundColor);
  border-radius: 100px;
  height: 200px;
  width: 200px;
  font-size: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 25px 50px 25px 50px;
  font-size: 30px;
  background-color: var(--bodyBackgroundColor);
}

footer a {
  color: var(--bodyColor);
}

.beat {
  width: 540px;
  height: 315px;
}

@media screen and (max-width: 1199px) {
  .title {
    font-size: 110px;
    text-align: center;
  }
  main {
    padding-top: 0px;
  }
  footer {
    text-align: center;
  }
  .arrow {
    width: 150px;
    height: 150px;
    font-size: 70px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 60px;
    text-align: center;
  }
  main {
    padding-top: 0px;
  }
  footer {
    text-align: center;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
