@import url("https://use.typekit.net/cnj7jwd.css");

:root {
  /* height, width */
  --navHeight: 100px;
  --mainHeight: calc(100vh - 200px);
  --footerHeight: 100px;
  --width: calc(100% - 200px);

  /* background-color, color */
  --firstBackgroundColor: white;
  --firstColor: #212121;

  --secondBackgroundColor: #fc3;
  --secondColor: #212121;

  --thirdBackgroundColor: url(../grafics/dolacz.png);
  --thirdColor: white;

  --shadowColor: #DDDDDD;

  /* font-size */
  --firstFontSize: 15px;
  --secondFontSize: 125px;
  --thirdFontSize: 50px;
}

body {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--firstFontSize);
  margin: 0px;

  background-color: var(--firstBackgroundColor);
}


nav {
  width: var(--width);
  height: var(--navHeight);
  padding: 0px 100px;

  display: grid;
  grid-template-columns: 175px 175px;
  grid-column-gap: 40px;

  align-items: center;
  justify-content: flex-end;
}


main {
  width: var(--width);
  height: var(--mainHeight);
  margin: 0px 100px;
  background-image: var(--thirdBackgroundColor);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 16px 16px 50px var(--shadowColor);
}

header {
  padding: 50px 0px 0px 80px;
  font-size: var(--secondFontSize);
  color: var(--thirdColor);
}

.subtitle {
  font-size: var(--thirdFontSize);
}

footer {
  width: var(--width);
  height: var(--footerHeight);
  padding: 0px 100px;
  color: var(--firstColor);

  display: grid;

  align-items: center;
  justify-content: center;
}
