@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --panelColor: black;
  --panelBackgroundColor: white;
  --bodyColor: black;
  --bodyBackgroundColor: white;

  --bubbleTopColor: #4F7FD1;
  --bubbleBootomColor1: #D14F4F;
  --bubbleBootomColor2: #CDD14F;
  --bubbleBootomColor3: #4FD153;
}

body{
  margin; 0px;
  background-color: var(--bodyBackgroundColor);
  font-family: 'Poppins', sans-serif;
}

.panel {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  padding: 50px 25px 0px 150px;
  background-color: var(--panelBackgroundColor);
  color: var(--panelColor);
  border-radius: 0px 60px 60px 0px;
  box-shadow: 12px 12px 96px black;
}

#panel {
  visibility: hidden;
}

.paneltitle {
  font-size: 60px;
  color: var(--panelColor);
}

.panelWidget {
  padding: 20px 0px;
  margin: 20px 0px;
  /* box-shadow: 1px 1px 96px; */
  border-radius: 30px;
}

.panelWidgetTitle {
  font-size: 30px;
  color: var(--panelColor);
}

.panelElement {
  padding: 5px 0px;
}

.panelElementTitle {
  font-size: 20px;
  background-color: #00000000;
  padding: 0px;
  color: var(--panelColor);
  background: none;
  border: none;
}

.bar {
  position: fixed;
  top: 25px;
  left: 25px;
  bottom: 25px;
  width: 100px;
  border-radius: 60px 60px 60px 0px;
  /* background-color: #4F7FD1;
  box-shadow: 12px 12px 96px; */
}

.barTitle {
  position: fixed;
  top: 50px;
  left: 25px;
  padding: 0px 10px;
}

.barTitleIcon {
  width: 80px;
  height: 80px;
  background-size: contain;
}

#logo {
  background-image: url("JŁ!.png");
}

.barElement {
  position: fixed;
  bottom: 50px;;
  left: 25px;
  border: 0px;
  background-color: #00000000;
  padding: 0px;
}

.barElementIcon {
  width: 100px;
  height: 100px;
  background-size: contain;
}

#menu {
  background-image: url("menu.png");
}

.dotgroup1{
  position: fixed;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: var(--bubbleBootomColor1);
  left: 50%;
  transform: translateX(-50%);
  bottom: -200px;
  opacity: .7;
  animation: animation 15s infinite;
}

.dotgroup2{
  position: fixed;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: var(--bubbleBootomColor2);
  left: 20%;
  transform: translateX(-50%);
  bottom: -300px;
  opacity: .7;
  animation: animation 30s infinite;
}

.dotgroup3{
  position: fixed;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  background-color: var(--bubbleBootomColor3);
  left: 80%;
  transform: translateX(-50%);
  bottom: -300px;
  opacity: .7;
  animation: animation 20s infinite;
}

.dot1{
}

.dot2{
  animation-delay: 4s;
  transform: translateX(10%);
}

.dot3{
  animation-delay: 8s;
  transform: translateX(-100%);
}

.dot4{
  animation-delay: 12s;
  transform: translateX(-60%);
}

.dot5{
  animation-delay: 16s;
  transform: translateX(50%);
}

@keyframes animation {
  50%{
    bottom: 75%;
    background-color: var(--bubbleTopColor);
    height: 400px;
    width: 400px;
    border-radius: 10000px;
  }
}
