#allSearchPanel {
  visibility: visible;
}

#appsPanel {
  visibility: hidden;
}

#allCollectionsPanel {
  visibility: hidden;
}

body {
  margin-left: 400px;
  background-image: url("https://i.pinimg.com/originals/39/97/78/399778f170d632bf3b51173699ea661b.jpg");
}

#container {
  left: 60%;
}

.m-categoryTitle {
  border-right-color: #0d47a1;
}

.m-elementTitle {
  color: #0d47a1;
}
