@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.b-bar {
  width: 200px;
  position: fixed;
  left: 400px;
  top: 0px;
}

.b-panelsBar {
  margin-top: 58px;
}

.b-panelButton {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: white;
  border: 0px;
}

.b-panelButton:hover {
  padding-left: 25px;
}
