@import url('https://fonts.googleapis.com/css?family=Archivo|Raleway|Roboto&display=swap');

.button {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  padding: 20px 70px;
  background-color: white;
  border-style: none;
  color: black;
}

.button:focus {
  outline-style: none;
  background-color: white;
}

.button:hover {
  background-color: #1B5E20;
  color: black;
}

.title {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  font-size: 60px;
  padding: 50px;
  color: black;
}

.sessionCountdown {
  /* position: fixed; */
  /* left: 50%; */
  /* top: 80px; */
  /* transform: translate(-50%); */
  font-size: 30px;
  /* padding: 50px; */
  color: white;
}
