@import url("https://use.typekit.net/cnj7jwd.css");

body {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.panel {
  width: 500px;
  height: 80vh;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #eeeeee;

  position: absolute;
  top: 10vh;
  transform: translateX(-50%);
}

.chat {
  left: 50vw;
}

.keyboard {
  left: calc(50vw + 600px);
}

.table {
  left: calc(50vw - 600px);
}

.box {
  display: grid;
  padding: 5px;
}

.box.left {
  align-items: center;
  justify-content: flex-start;
}

.box.center {
  align-items: center;
  justify-content: center;
}

.box.right {
  align-items: center;
  justify-content: flex-end;
}

.message div{
  border: 2px solid #eeeeee;
  border-radius: 10px;
  font-size: 25px;
  padding: 0px 10px;
  /* color: #e4e6eb; */
}

.box.left.message div{
  border: 2px solid #000000;
}

.box.right.message div{
}

.widget {
  height: 100px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
