.header_outer {
    height: calc(100vh - 64px - 16px - 32px - 64px);
    width: auto;
    width: 100%;
    display: flex;
    align-items: center;
}

.header_inner {
    height: 400px;
    width: 100%;
}

.header_box{
    height: 400px;
}

.header_title{
    height: calc(100% - 64px);
    width: 100%;
    font-size: 60px;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .header_outer {
        height: auto;
    }

    .header_box{
        height: auto;
    }

    .header_title{
        height: auto;
    }
}